.profile__avatar-edit-button {
    background-image: url(../../../images/edit-avatar-vector.svg);
    background-size: 26px 26px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s linear;
    border: none;
}

.profile__avatar-edit-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media (max-width: 600px) {
    .profile__avatar-edit-button {
        background-size: 19px 19px;
    }
}