.profile__edit-button {
    min-width: 24px;
    height: 24px;
    background-image: url(../../../images/profile-edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 10px 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 0;
}

@media (max-width: 600px) {
    .profile__edit-button {
       min-width: 18px;
       height: 18px;
       background-size: 7.5px 7.5px;
    }
}

.profile__edit-button:hover {
   color: #ffffff;
   opacity: .6;
   transition: color .5s linear;
   cursor: pointer;
}