.profile__info-case {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

@media (max-width: 720px) {
    .profile__info-case {
        max-width: 282px;
        margin-bottom: 10px;
    }
    
}