.profile__name {
    margin: 0;
    
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;

    color: #ffffff;
}

@media (max-width: 600px) {
   .profile__name {
       font-size: 27px;
       line-height: 33px;
       text-align: center;
 }   
    
}