.profile__description {
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
}

@media (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    
}