.element__like {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/button-like-vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
}

.element__like:hover {
    color: #ffffff;
    opacity: .6;
    transition: color .5s linear;
    cursor: pointer;
}