.popup__button_assignment_save {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.popup__button_assignment_save:hover {
    color: #ffffff;
    opacity: .6;
    transition: color .5s linear;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup__button_assignment_save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
    
}