.element {
    margin: 0;
    width: 282px;
    min-height: 361px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 44px;
    grid-template-rows: 282px 1fr;
}
